.container {
  padding: 50px;
  display: flex;
}

.left {
  flex: 2;
}

.td {
  text-align: center;
  justify-content: center;
}

 .th {
    text-align: center;
  }

.right {
  flex: 1;
  align-items: flex-end;
}

.imgContainer {
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto;
}

.table {
  width: 100%;
  border-spacing: 20px;
}

.name {
  font-weight: 500;
  color: #ee2447;
  font-size: 18px;
}

.total {
  font-weight: 500;
  font-size: 18px;
}

.wrapper {
  width: 90%;
  max-height: 300px;
  background-color: #333;
  padding: 50px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.title{
  font-size:35px
}

.totalTextTitle {
  margin-right: 10px;
}

.button {
  height: 30px;
  border: none;
  border-radius: 3px;
  color: #ee2447;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.button:hover {
  background: #ee2447;
  color: whitesmoke;
}

.paymentMethods {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.payButton,
.cashButton {
  padding: 10px 5px;
  cursor: pointer;
  margin-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}
.payButton {
  background-color: #f49d1a;
  color: white;
}
.cashButton {
  background-color: #ee2447;
  color: white;
}

.Modalwrapper {
  width: auto;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Modaltitle {
  font-weight: 200;
}

.Modalitem {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.Modallabel {
  margin-bottom: 10px;
}

.Modalinput {
  height: 40px;
}

.Modalbutton {
  border: none;
  background-color: teal;
  color: white;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 820px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .trTitle {
    display: none;
  }

  .tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .th {
    align-items: center;
  }

  .imgContainer {
    width: 35vw;
    height: 35vw;
  }

  .name,
  .total {
    font-size: 24px;
  }

  .extras,
  .price,
  .quantity {
    font-size: 22px;
  }

  .extras::before {
    content: "Extras: ";
    font-weight: 500;
  }

  .price::before {
    content: "Price: ";
    font-weight: 500;
  }
  .quantity::before {
    content: "Quantity: ";
    font-weight: 500;
  }
  .total::before {
    content: "Total: ";
    font-weight: 500;
  }

  .wrapper {
    width: 100%;
  }
}
